<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Kashyap::top_level" title="Kashyap" module="Kashyap_ProductAttachments" sortOrder="9999" resource="Magento_Backend::content"/>
		<add id="Kashyap_ProductAttachments::kashyap_productattachments_productattachments" title="ProductAttachments" module="Kashyap_ProductAttachments" sortOrder="9999" resource="Magento_Backend::content" parent="Kashyap::top_level" action="kashyap_productattachments/productattachments/index"/>
	</menu>
</config>
