<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="kashyap_productattachments" id="kashyap_productattachments">
			<module before="Magento_Backend" name="Kashyap_ProductAttachments"/>
		</route>
	</router>
</config>
